$break-custom-lg: 991px;

$parrot-dark-green: #234d20;
$parrot-medium-green: #36802d;
$parrot-light-green: #77ab59;
$parrot-extra-light-green:#c9df8a;
$parrot-white:#f0f7da;
$parrot-black:#222;

$material-blue: #4db6ac;
$material-green: #8bc34a;
$material-lime: #d4e157;
$material-orange: #ffb74d;
$material-red: #e57373;


$material-dark-blue: #00608a;
$material-dark-green: #456321;
$material-dark-lime: #97a51d;
$material-dark-orange: #a36200;
$material-dark-red: #a21715;
