$default-padding-top: 2rem;
$defualt-margin-bottom: 2rem;

body {
  background-color: #f8f8f8;
  font-family: "Roboto", sans-serif;
}

:root {
  font-size: 16px;
}

input[type="search"]:focus,
.new-note__textarea:focus,
input[type="text"]:focus {
  border-color: transparent;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  outline: none;
}

.title {
  font-weight: lighter;
}
