@import '../../../scss/helpers/variables';

.actions-area {
  transition: all 0.3s;
  position: relative;

  &--in-add {
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    .color-circle {
      width: 1.5rem;
      transition: background-color 0.5s;
      height: 1.5rem;
      position: absolute;
      border-radius: 50%;
      right: 1rem;
      top: -3rem;
    }
  }

  &--in-note {
    width: 100%;
    position: absolute;
    bottom: -10rem;

    .fa {
      color: rgba(0, 0, 0, 0.4);
    }
  }

  &--lime {
    color: $material-lime;
  }

  &--green {
    color: $material-green;
  }

  &--blue {
    color: $material-blue;
  }

  &--red {
    color: $material-red;
  }

  &--orange {
    color: $material-orange;
  }

  &-btn {
    display: inline-block;
    background-color: transparent;
    border: none;
    margin-left: 1rem;
    padding-right: 0.5rem;
    height: 40px;

    &--in-add {
      transition: 0.3s;

      &:hover {
        transform: scale(1.5);
      }
    }

    &--in-note {
      transition: 0.3s;

      &:hover {
        transform: scale(1.5);

        .fa {
          color: rgba(0, 0, 0, 0.7);
        }
      }
    }
  }

  &__done {
    font-size: 1.2rem;
    width: 20%;
    text-transform: uppercase;
    float: right;

    &--in-add {
      background-color: $parrot-medium-green;
      color: $parrot-white;
    }
  }

  &__done {
    &:hover {
      transform: none;
      background-color: $parrot-dark-green;
      color: $parrot-white;
    }
  }
}

.palette {
  position: absolute;
  top: -2.5rem;
  left: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in;
  opacity: 0;
  z-index: -4444;

  .palette__btn {
    width: 1rem;
    height: 1rem;
    margin: 0.5rem;
    border-radius: 50%;
    border: none;
  }
}

.pick-color:hover + .palette {
  opacity: 1;
  z-index: 4444;
}

.palette:hover {
  opacity: 1;
  z-index: 4444;
}
