@import '../../../scss/base/general';

.note-viewer {
  padding-top: $default-padding-top;
  padding-bottom: $default-padding-top * 2;
  margin-bottom: $defualt-margin-bottom;

  .btn {
    border-radius: 0;
    border: 0;
  }

  &__form {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #eaedf0;
  }

  &__title {
    font-size: 1.5rem;
    border: 0;
    border-radius: 0;
  }

  &__textarea {
    resize: none;
    font-size: 1.3rem;
    border: 0;
    border-radius: 0;
  }
}
