@import '../../../scss/base/general';
@import '../../../scss/helpers/variables';

.notes {
  h2 {
    margin-bottom: 0;
  }

  &-container {
    display: flex;
    justify-content: left;
    flex-flow: row wrap;
    padding-top: $default-padding-top + 0.2rem;
    margin-bottom: $defualt-margin-bottom * 2;
  }
}

.note {
  flex-basis: 45%;
  min-width: 200px;
  transition: background-color 0.3s;
  height: 13rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  overflow: hidden;

  &:hover .actions-area--in-note {
    bottom: 0;
  }

  &__image {
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  &__note-name {
    text-align: center;
    margin: 15px;
    font-size: 1.4em;
  }

  &__note-content {
    word-break: break-all;
    padding: 1rem;
  }
}

.lime {
  background: $material-lime;
}

.green {
  background: $material-green;
}

.blue {
  background: $material-blue;
}

.red {
  background: $material-red;
}

.orange {
  background: $material-orange;
}

.dark-lime {
  background: $material-dark-lime;
}

.dark-green {
  background: $material-dark-green;
}

.dark-blue {
  background: $material-dark-blue;
}

.dark-red {
  background: $material-dark-red;
}

.dark-orange {
  background: $material-dark-orange;
}

@media only screen and (max-width: 991px) {
  .notes {
    &-container {
      justify-content: space-around;
    }
  }
}

@media only screen and (max-width: 767px) {
  .notes {
    h2 {
      text-align: center;
    }

    &-container {
      justify-content: center;
    }
  }

  .note {
    height: 10rem;
    margin-left: 0;
    margin-bottom: 1rem;
    flex-basis: 85%;
  }
}
