<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <link
      rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Reat Test</title>

  </head>
  <body>
    <div id="root"></div>
    <script src='../node_modules/jquery/dist/jquery.min.js'>
    </script>
    <script src='../node_modules/bootstrap-sass/assets/javascripts/bootstrap.min.js'>
    </script>

  </body>
</html>
