@import '../../../scss/base/general';
@import '../../../scss/helpers/variables';

.folders {
  &-container {
    display: flex;
    justify-content: left;
    flex-flow: row wrap;
    padding-top: $default-padding-top + 0.2rem;
    margin-bottom: $defualt-margin-bottom * 2;

    a {
      .folder p {
        font-family: "Roboto", sans-serif;
        text-decoration: none;
        color: $parrot-white;
        font-weight: 300;
      }

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
}

.folder {
  font-size: 1rem;
  width: 18rem;
  height: 7rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background-color: $parrot-medium-green;
  margin: 1rem;
  padding: 1rem;

  &__folder-name {
    text-align: left;
    font-size: 1.4em;
  }
}
